.calculate-filesize-btn {
  color: #4c6072;
  font-weight: 700;
  padding: 0 1rem;
}

.calculator-contents {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
}

.size {
  margin-left: 1rem;
}

.tab-item.good-size {
  background: hsl(120, 75%, 75%);
  color: #2e2e2d;
}

.tab-item.ok-size {
  background: hsl(60, 75%, 75%);
  color: #2e2e2d;
}

.tab-item.bad-size {
  background: hsl(0, 75%, 75%);
  color: black;
}
