:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  font-family: var(--system-ui);
}

body {
  margin: 0;
}

.sidebar-controls {
  margin: 1rem;
}

summary {
  cursor: pointer;
}

summary:hover {
  background-color: #0072ba;
  color: white;
}

.disclosure-value {
  padding-left: 1rem;
}
